In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('lesson_1_data.csv', encoding='windows-1251', sep=';')

In [5]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [6]:
df.describe()

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [7]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [16]:
df.rename(columns={'Номер' : 'number', 'Дата создания' : 'create_date', 'Дата оплаты' : 'payment_date', 'Title' : 'tittle', 'Статус' : 'status',
       'Заработано' : 'money', 'Город' : 'city', 'Платежная система': 'payment_system'})

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [9]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [24]:
all_money=df.Заработано.sum()

In [25]:
all_money

992103.5900000001

In [55]:
df.query('Номер>1064620').groupby(['Title', 'Город'], as_index=False).aggregate({'Заработано' : 'sum'}).sort_values('Заработано', ascending=False)

,Title,Город,Заработано
7,Курс от Школы Диетологов. Повышение квалификац...,Уфа,9898.56
2,Курс обучения «Консультант»,г.Москва и Московская область,8374.82
6,Курс от Школы Диетологов. Бизнес,г.Москва и Московская область,5398.56
3,Курс обучения «Специалист»,Тамбовская область,3591.84
9,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Москва,2935.44
10,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Одинцово,2935.44
11,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Республика Карелия,2935.44
12,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Самарская область,2935.44
13,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Тульская область,2935.44
1,Курс обучения «Консультант»,София,1.00
0,Курс обучения «Консультант»,Свердловская область,0.00
4,Курс от Школы Диетологов. Бизнес,Воронежская область,0.00
5,Курс от Школы Диетологов. Бизнес,Кемеровская область,0.00
8,Курс от Школы Диетологов. Повышение квалификац...,Чеченская Республика,0.00

In [50]:
money.to_csv('money_to_city', index=False)